body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    position: relative; 
}

.middle-space {
    width: 100%; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    margin-top: auto;
    margin-bottom: auto;
}


.player-life, .cpu-info {
    font-family: "Outfit";
    font-size: 30px;
    font-weight: bold;
    color: #e74c3c;
    position: absolute;
    top: 10px;
}

.cpu-info {
    top: 20px;
    left: 10px; 
}

.player-life {
    top: 20px;
    right: 10px; 
}

.player-cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1000px;
    margin-top: auto;
    margin-bottom: 0;
}

.cpu-cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1000px;;
    margin-top: 0;
}

.card {
    width: 70px; 
    height: 100px; 
    background-color: #1b1b1b;
    border: 1px solid #000; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.2s ease-in-out;
    position: relative;
    perspective: 1000px;    
    transform-style: preserve-3d;
}

.cpu-cards:hover .card {
    transform: none; 
    z-index: initial; 
    box-shadow: none; 
}

.cpu-cards:hover .card img {
    transform: none;
    position: static; 
    width: auto; 
    height: auto; 
}


.card:hover {
    transform: scale(1.5) rotate(3deg); 
    z-index: 2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.card img {
    max-width: 100%; 
}

.card:hover img {
    transform: translateY(-60%);
    position: absolute; 
    top: 50%;
    left: 50%;
    width: 120%; 
    height: 120%; 
    transform: translate(-50%, -50%) scale(1.6); 
}

.winner-card {
    border: 2px solid green; /* ou a cor que você preferir */
}

.history {
    position: absolute;
    bottom: 0;
    right: 100px;
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.history-title {
    font-family: "Outfit";
    color: aliceblue;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer; 
}

.history-cards {
    display: flex;
    flex-direction: column; 
    gap: 5px;
    max-height: 480px; 
}

.history-cards .history-container {
    display: flex;
    gap: 5px;
}

body {
    background-color: #1b1b1b;    
    background-size: cover;
    overflow: hidden;
    transform-origin: top;
}

#player-life, #cpu-life {
    font-weight: bold;
    color: #e74c3c;
}

