body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    position: relative; 
}

.middle-space {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column; /* Inverte a ordem vertical das cartas */
    transform: translateY(50%); /* Ajusta a posição vertical */
}

.player-life, .cpu-info {
    font-family: "Outfit";
    font-size: 30px;
    font-weight: bold;
    color: #e74c3c;
    position: absolute;
    top: 10px;
}

.cpu-info {
    top: 20px;
    left: 10px; 
}

.player-life {
    top: 20px;
    right: 10px; 
}

.cpu-cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1000px;;
    margin-top: 0;
}

.player-cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1000px;
    margin-top: 200px;
    margin-bottom: 0;
}

.card {
    width: 80px; 
    height: 110px; 
    background-color: #1b1b1b;
    border: 1px solid #000; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.2s ease-in-out;
    position: relative;
    perspective: 1000px;    
    transform-style: preserve-3d;
}

.cpu-cards:hover .card {
    transform: none; 
    z-index: initial; 
    box-shadow: none; 
}

.cpu-cards:hover .card img {
    transform: none;
    position: static; 
    width: auto; 
    height: auto; 
}


.card:hover {
    transform: scale(1.5) rotate(3deg); 
    z-index: 2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.card img {
    max-width: 100%; 
}

.card:hover img {
    transform: translateY(-60%);
    position: absolute; 
    top: 50%;
    left: 50%;
    width: 120%; 
    height: 120%; 
    transform: translate(-50%, -50%) scale(1.5); 
}



.winner-card {
    animation: rainbow-border 4s linear infinite;
}

.draw-card {
    border: 2px solid rgb(255, 255, 255); /* ou a cor cinza que você preferir */
}

.history {
    position: absolute;
    bottom: 0;
    right: 100px;
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
}

.history-title {
    font-family: "Outfit";
    color: aliceblue;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer; 
}

.history-cards {
    display: flex;
    flex-direction: column; 
    gap: 5px;
    max-height: 480px; 
}

.history-cards .history-container {
    display: flex;
    gap: 5px;
}

.low-opacity {
    opacity: 0.5; /* Ou o valor de opacidade desejado */
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    border-radius: 6px;
    background: linear-gradient(180deg, #15342D 0%, #000 100%);
    max-width: 300px;
    margin: auto;
    margin-top: 20%;
    padding: 35px 71px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-family: "Outfit";
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espaçamento vertical entre os elementos */
}


#play-again-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: #1a1717;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#play-again-button:hover {
    background: #15342d;
}

body {
    background: linear-gradient(to bottom, black, #15342d);
    background-size: cover;
    overflow: hidden;
    transform-origin: top;
}

#player-life, #cpu-life {
    font-weight: bold;
    color: #e74c3c;
}

@keyframes rainbow-border {
    0% { border: 2px solid red; }
    14% { border: 2px solid orange; }
    28% { border: 2px solid yellow; }
    42% { border: 2px solid green; }
    57% { border: 2px solid blue; }
    71% { border: 2px solid indigo; }
    85% { border: 2px solid violet; }
    100% { border: 2px solid red; }
}

/* Adicione essas classes ao seu arquivo CSS */
@keyframes zoomAndSlide {
    0% {
        transform: scale(1);
        top: 0;
        opacity: 1;
    }
    100% {
        transform: scale(2);
        top: 50%;
        opacity: 0;
    }
}
