body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    position: relative; /* Adicione esta linha */
}

.middle-space {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 100px 0;
    flex-grow: 1;
}


.player-life, .cpu-info {
    font-size: 30px;
    font-weight: bold;
    color: #e74c3c;
    position: absolute;
    top: 10px;
}

.cpu-info {
    left: 10px; /* Posicionamento da vida da CPU */
}

.player-life {
    right: 10px; /* Posicionamento da vida do jogador */
}

.player-cards, .cpu-cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1000px; /* Definir uma largura máxima para as cartas */
    margin-top: 20px; /* Espaço entre as cartas e as vidas */
}

.card {
    width: 140px; 
    height: 200px; 
    background-color: #1b1b1b;
    border: 2px solid #000; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 0.2s ease-in-out;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card:hover {
    transform: scale(1.1) rotate(3deg); 
    z-index: 2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.card img {
    max-width: 100%; 
}

.card:hover img {
    transform: translateY(-60%);
    position: absolute; 
    top: 50%;
    left: 50%;
    width: 120%; 
    height: 120%; 
    transform: translate(-50%, -50%) scale(1.2); 
}




body {
    background-color: #000000;    
    background-size: cover;
}

#player-life, #cpu-life {
    font-weight: bold;
    color: #e74c3c;
}

