/* Estilize sua tela de inicialização aqui */

body, h1, button {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/src/background/2.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.container {
    height: 200px;
    width: 300px;
    text-align: center;
    background-color: #111111; /* Cor de fundo preta */
    border: 2px solid #000913; /* Borda branca ao redor do patch note */
    padding: 20px;
    border-radius: 10px;
}

/* Estilos para o patch note */
#patch-note {
    position: fixed;
    right: 100px;
    width: 300px;
    padding: 20px;
    overflow-y: auto;
    max-height: 80vh; /* Defina uma altura máxima em relação à altura da janela de visualização */
    background-color: #111111; 
    border: 2px solid #000913; 
    border-radius: 5px; /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    color: #ffffffff; 
}

/* Estilos para a lista de patch notes */
#patch-note ul {
    list-style-type: none;
    padding: 0;
}

#patch-note li {
    margin-bottom: 20px;
}

#patch-note h2 {
    margin-top: 0;
}

/* Espaçamento entre as atualizações */
#patch-note li:not(:last-child) {
    margin-bottom: 10px;
}


h1 {
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

button {
    width: 200px;
    background-color: #282828; /* Fundo branco */
    color: #ffffff; /* Texto roxo */
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}



button:hover {
    background-color: #2ca37f; /* Fundo roxo */
    color: #ffffff; /* Texto branco */
}

#tutorial:hover {
    color: antiquewhite;
}
